.searchbar {
  width: 100%;
  padding: 1rem 1rem;
  background-color: var(--clr-search-bg);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchbar input {
  width: 80%;
  outline: none;
  background-color: var(--clr-search-bg);
  border: none;
}
.searchbar input::placeholder {
  font-size: var(--fs-small);
  line-height: var(--lh-small);
}
