<div class="sidebar__container">
  <section class="actions">
    <app-theme-switch class="theme-toggle"></app-theme-switch>
    <app-search-bar></app-search-bar>
    <app-reload class="reload"></app-reload>
  </section>
  <section class="contacts">
    <app-contact-card
      bgcolor="var(--clr-unread-bg)"
      name="Aliza"
      date="4:53 8/5/2022"
      msg="Assalam u Alaikum! brother how are you?"
      bindisplay="none"
    ></app-contact-card>
    <app-contact-card
      bgcolor="var(--clr-unread-bg)"
      name="Aliza"
      date="4:53 8/5/2022"
      msg="Assalam u Alaikum! brother how are you?"
      bindisplay="none"
    ></app-contact-card
    ><app-contact-card
      bgcolor="var(--clr-read-odd-bg)"
      name="Aliza"
      date="4:53 8/5/2022"
      msg="Assalam u Alaikum! brother how are you?"
    ></app-contact-card
    ><app-contact-card
      bgcolor="var(--clr-read-even-bg)"
      name="Aliza"
      date="4:53 8/5/2022"
      msg="Assalam u Alaikum! brother how are you?"
    ></app-contact-card
    ><app-contact-card
      bgcolor="var(--clr-read-odd-bg)"
      name="Aliza"
      date="4:53 8/5/2022"
      msg="Assalam u Alaikum! brother how are you?"
    ></app-contact-card>
  </section>
</div>
