.reload {
  margin: 0.25rem;
  cursor: pointer;
}
.reload:active {
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
}
